# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Fichiers de logs
*.log

# Fichiers temporaires / caches
*.tmp
*.temp
*.swp
*.swo
*.DS_Store
Thumbs.db

# Configuration IDE
.vscode/
.idea/

# Tests & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
